<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article - Simple Blog, <%= blog?.title %></title>
    <link rel="stylesheet" href="/css/blog.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>
            <%= blogHeader %>
        </h1>
        <nav>
            <a href="http://localhost:3001/">Home</a>
            <a href="http://localhost:3001/about">About</a>
        </nav>
    </header>
    <div class="content-container">
        <h2>
            <%= blog?.title %>
         </h2>
         <code>blog id: <%= blog?._id %></code>
         <img src="https://picsum.photos/1000/400" alt="">
         <p>
            <%= blog?.content %>
         </p>
    </div>
    <footer>Demo website for webinar Web Foundation compclub Presiden Univ, by ilhamksyuriadi © 2022</footer>
</body>
</html>